
.current_filter_name{
    display: flex;
    color: #0096FF;
    margin: 5px;
    font-size: larger;
}

.filter{
    margin-left: 20px;
    margin-bottom: 20px;
}
.filter_button {
    display: flex;
    padding: 5px;
    border: 1px solid #0096FF;
    background-color: #0096FF;
    color: lightyellow;
    border-radius: 3px;
    position :static;
    width: 65px;
    cursor: pointer;
}

.movies h2{
    color: yellow;
    margin-top: 20px;
    margin-left: 20px; 
    font-style: italic;
    font-size: xx-large;
}

.movie_grids{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}